*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;

}

body, body * {
cursor: url(https://files.cargocollective.com/644783/kimkim_cursor_green2.cur) 12 10, auto;
}

html{
  font-size: 10px;
  margin: 1em 4em 4em 4em;
  background-color: inherit;
}

header {
  width: calc(100vw - 8em);
  /* margin: 1em 4em 0em 4em; */
  /* outline: 3px solid black; */
}

nav {
  display: flex;
  flex-direction: row;
}

a#home,
a#info,
a#sidenotes {
  /* justify-content: center;
  align-items: center; */
  padding-right: 20px;
  padding-top: 1.5em
}


body {
  margin: 0;
  font-size: 1.4rem;
}

main {
  font-family:monospace;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: normal;
  /* margin: 1em 4em 0em 4em; */

}

p{
  font-size: 2rem;
  line-height: 1.15;
  font-family: serif;
  font-weight: normal;
  /* text-align: justify; */
}

h1 {
  font-size: 2rem;
  line-height: 1;
  font-family: serif;
  font-weight: normal;
}

h2 {
  font-family: monospace;
  letter-spacing: 0.1px;
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: normal;
  color: black;
}

h2:hover {
  /* opacity: 0.2; */
  font-style: italic;
}

h3 {
  font-size: 2rem;
  line-height: 1;
  font-family: serif;
  font-weight: normal
}

/* custom underline */
.customunderline {
  display: inline-block;
  position: relative;
}
.customunderline::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 1px;
}

.weight-normal {
  font-weight: normal;
}

.textcenter {
  text-align: center;
}

.greyimg {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

img{
  display: block;
  max-width: 100%;
  height: auto;
  padding: 15px 0 0 0;
  /* padding: 0.5em; */
  vertical-align: middle;
}


/* double-scrool  */
section {
  position: fixed;
  width: calc(55%);
  top: 75px;
  left: 0;
  overflow-y: auto;
  height: 100vh;
  padding: 0em 0em 0em 2.5em;
}

#right {
  top: 1.95em;
  left: calc(45% - 2.5em);
  padding: 0em 2.5em 0em 0em;
  }

/* @media [mobile] must always sit in the bottom of your css */
@media(max-width: 670px) {

  article {
    width: 100%;
    flex: 1;
  }
/* make the double scrool into one coloum on mobile */
  section {
    position: static;
    width: 100%;
    padding: 0;
    overflow: visible;
    height: auto;
  }
  #right {
    left: 0;
  }

}
