body {

}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;

}

article#one {
  background: red;
  flex: 1;
  width: 100vw;
  height: 100vh;

}

article#two {
  background: blue;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

article#three {
  background: yellow;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

article#four {
  background: green;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 670px) {
  main {
    flex-direction: column;
  }

}
