*{
  margin: 0;
  padding: 0;
}

body {

}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

p {
  margin: 0;
  color: white;
}

.blue {
  background: blue !important;
}

.fixed {
  position: fixed;
}

p:nth-of-type(2) {
  color: red;
}

article:nth-of-type(odd) p {
  color: black
}

article{
width: 25%;
font-size: 4rem;
font-family: sans-serif;
line-height: 1;
display: flex;
justify-content: center;
/* align-items: center; */
/* flex: 1; */
    /* justify is x-axis
    aling is y-axis */
}

article#five,
article#six,
article#seven,
article#eight {
  align-items: flex-end;
}

article#one,
article#five {
  justify-content: flex-start;
  align-items: center;
}

article#four,
article#eight {
  justify-content: flex-end;
  align-items: center;
}


article#one {
  background: red;
  /* flex: 1;
  width: 100vw;
  height: 100vh; */

}

article#two {
  background: blue;
  /* flex: 1;
  width: 100vw;
  height: 100vh; */
}

article#three {
  background: yellow;
  /* flex: 1;
  width: 100vw;
  height: 100vh; */
}

article#four {
  background: green;
  /* flex: 1;
  width: 100vw;
  height: 100vh; */
}

article#five {
  background: purple;
}

article#six {
  background: pink;
}

article#seven {
  background: orange;
}

article#eight {
  background: brown;
}

article:nth-of-type(even):hover {
  background: black !important; 
}
}

/* @media must always sit in the bottom of your css */
@media (max-width: 670px) {
  main {
    flex-direction: column;
  }
  article{
    width: 100%;
    flex: 1;
  }

}
